<mat-toolbar class="grad">
    <button mat-button class="marge2"routerLink="/home" > Home  </button>
  </mat-toolbar>
<div class="content" fxLayout="row wrap" fxLayoutGap="20px grid">
    <div
      fxFlex="15%"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let album of boughtAlbums" 
    >
      <mat-card  class="card mat-elevation-z3">
        <mat-card-header>
          <mat-card-subtitle>{{ album.artistName }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ album.image }}"routerLink="/detail/{{ album.id }}" />
        <mat-card-content>
            Duration: {{getDuration(album).toFixed(2)}} min
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  