.content {
    padding: 16px;
  }

  .marge{
    margin-top: 10px;
    margin-left: 1450px;

  }
  .custom.mat-toolbar {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    background-color: #282a36;
    color: #ff79c6;
    font-size: 29px;
    justify-content: left;
  }
  
  .custom.mat-card-title {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
  }
  
  .custom.mat-button{

    align-items: center;
  }
  .custom.mat-card {
    background-color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 500;
    width: 100px;
  }
  
  .custom.span {
    background-color: #f8f8f2;
  }

  p { text-align: right; }
  
  .custom.mat-button{
     font-size:large;
    
    }
  
  .card:hover{
    box-shadow:0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  }
