<mat-toolbar class="grad">
  <button mat-button routerLink="/profile" class="marge"> Profile  </button>
</mat-toolbar>


<div class="content" fxLayout="row wrap" fxLayoutGap="20px grid">
  <div
    fxFlex="15%"
    fxFlex.xs="100%"
    fxFlex.sm="33%"
    *ngFor="let album of albums"
  >
    <mat-card  class="card mat-elevation-z3">
      <mat-card-header>
        <mat-card-title> {{ album.albumName }} </mat-card-title>
        <mat-card-subtitle>{{ album.artistName }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ album.image }}"routerLink="/detail/{{ album.id }}" />
      <mat-card-content>
        <div class="custom">
          <button mat-stroked-button class="custom" [disabled]="album.bought" (click)="addAlbum(album) "color="primary">
            ${{ album.price.toFixed(2) }} Buy
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

