table {
  height: 50%;
  width: 1000px;
  margin-top: 0px;
  margin-left: 300px;
  align-items: left;
  justify-content: left;
  text-align: left;
  }
  .marge{
    margin-top: 3px;
    margin-left: 1350px;

  }
  
.rightcard{

  height: 100px;
  width: 968px;
  align-items: left;
  justify-content: left;
  text-align: left;
  margin-top: -11px;
  margin-left: 300px;
}
 .custom.mat-stroked-button:disabled{
  color: 	#C8C8C8;
  border-color: 	#C8C8C8;

}
.rightcard2{

  height: 30px;
  width: 968px;
  align-items: left;
  justify-content: left;
  text-align: left;
  margin-top: -420px;
  margin-left: 284px;
  font-family: "Source Sans Pro", sans-serif;
  
    
  
}
  .custom{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
  font-size: 1em;
  }
  .custom2{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
  font-size: 25px;
  }

  .content {
    padding: 16px;
  }

  .custom.mat-table{
    width: 100%;

  }
  

  .custom.mat-toolbar {
    
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    background-color: #282a36;
    color: #ff79c6;
    font-size: 29px;
    justify-content: left;
  }
  
  
  
  .custom.mat-card {
    
    background-color: transparent;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500;
    
    width: 15%;
  }
  
  .custom.span {
    background-color: #f8f8f2;
  }

  p { margin-left: 1px;
           
  }
  
  .custom.mat-stroked-button{
    border-color: black;
    border-width: thin;
    color: black;
    align-items: center;
    text-align: center;
    justify-content: left;
    margin-right: 60px;
    font-size: 14px;
    width : 17em;
    
    
    }
  
  .cardr{
    box-shadow:0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  }

