<mat-toolbar class="grad">
  <button mat-button class="marge2"routerLink="/home">Home</button>
  <button mat-button class="marge" routerLink="/profile">Profile</button>
</mat-toolbar>

<mat-card class="custom .mat-elevation-z0">
  <mat-card-header>
    <mat-card-title> {{ selectedAlbum.albumName }} </mat-card-title>
    <mat-card-subtitle>{{ selectedAlbum.artistName }}</mat-card-subtitle>
    <mat-card-subtitle> </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ selectedAlbum.image }}" />

  <mat-card-content>
    <button mat-stroked-button class="custom" [disabled]="selectedAlbum.bought" (click)="addAlbum(selectedAlbum)" color="primary">
      ${{ selectedAlbum.price.toFixed(2) }} Buy
      
    </button>
    <br>
    <br>
    Rating
    <mat-select  placeholder={{selectedAlbum.score}} [value]="selectedAlbum.score" (selectionChange)="getPunt($event.value)">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
    </mat-select>
  </mat-card-content>
  <mat-card class="rightcard2 .mat-elevation-z0" >
    <mat-card-header>
    <mat-card-title class="custom">
      Release date: {{ selectedAlbum.date.toLocaleDateString() }}
      &nbsp;Genre: {{ selectedAlbum.genre }}
      
    </mat-card-title>
    </mat-card-header>
    
  </mat-card>
  <mat-card class="rightcard mat-elevation-z0" >
    <mat-card-title class="custom2">Description</mat-card-title>
    <mat-card-content>{{ selectedAlbum.description }}</mat-card-content>
  </mat-card>

  <table mat-table [dataSource]="selectedAlbum.songs" class="mat-elevation-z4">
    <ng-container matColumnDef="songName">
      <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.songName }}</td>
    </ng-container>
    <ng-container matColumnDef="artistName">
      <th mat-header-cell *matHeaderCellDef>Artist</th>
      <td mat-cell *matCellDef="let element">{{ element.artistName }}</td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
    </ng-container>
    <ng-container matColumnDef="popularity">
      <th mat-header-cell *matHeaderCellDef>Popularity</th>
      <td mat-cell *matCellDef="let element">{{ element.popularity }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button [disabled]="element.bought" (click)="addSong(selectedAlbum.id,element.sid,element.songName)">${{element.price }}</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
<simple-notifications></simple-notifications>